body {
    background-color: white;
    top: 200px;
}

h1, h2, h3, h4 {
    text-align: center;
}

form {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}

table, th, td {
    padding: 3px;
}

.border {
    border: 1px solid black;
}

span {
    color: red;
}

.center {
    text-align: center;
}

#footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: lightgray;
    color: black;
    width: 100%;
}